@use "../helpers" as *;

.header {
  background-color: var(--color-viollet);

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: #{rem(92)};
  }

  &__logo {
    width: #{rem(52)};
    height: #{rem(52)};
  }
}
