@use "../helpers" as *;

section {
  margin-bottom: #{rem(80)};
}

.section {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;

    @include flex-center();
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: #{rem(30)};
    width: #{rem(515)};
    text-align: center;
    margin-bottom: #{rem(60)};

    &--reverse {
      flex-direction: column-reverse;
    }
  }

  &__description {
    color: var(--color-gray);
  }
}
